<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359127562451-ltsti4bf4q1d611lasi78cv269b5ade1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359127562451-ltsti4bf4q1d611lasi78cv269b5ade1</string>
	<key>API_KEY</key>
	<string>AIzaSyC4fTXwbPYN2plWyG4t2bDH6H67pLg3Vm8</string>
	<key>GCM_SENDER_ID</key>
	<string>359127562451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>education.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-f247a</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-f247a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359127562451:ios:bea6c404aa74c4bca57c26</string>
</dict>
</plist>