<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378995559448-hcl2vsgf25r5np39nd4m13k0fq0mlktv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378995559448-hcl2vsgf25r5np39nd4m13k0fq0mlktv</string>
	<key>API_KEY</key>
	<string>AIzaSyBGG11b4LRpv7tPcz_MvL8NJ5MW_xbbcPM</string>
	<key>GCM_SENDER_ID</key>
	<string>378995559448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>education.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-e6e29</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-e6e29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378995559448:ios:c1e6811843b3c80296076d</string>
</dict>
</plist>